*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 50px 0;
  background-color: #212534;
}

.progressbar {
  min-height: 60px;
  margin: 0 auto 100px;
  background-color: #fff;
  border: 5px solid #2e9aff;
}


.progressbar_width_limit {
  max-width: 1180px;
}

.progressbar_width_full {
  max-width: 100vw;
}

.progressbar__current {
  min-height: 60px;
  background: linear-gradient(to right, #9999ff 0%, #99ff99 100%);
}

.progressbar__current_role_loading {
  width: 90%;
  animation: load-current 3s 1 linear;
  animation-delay: 1.5s;
}

.progressbar__current_role_moving {
  width: 10%;
  animation: move-current 3s infinite alternate ease-in-out paused;
}

.progressbar_active:hover .progressbar__current_role_moving {
  width: 100%;
  animation-play-state: running;
}

.box {
  position: relative;
  max-width: 500px;
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
  background-color: #ddd;
  outline: 5px solid #2e9aff;
}

.ball {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 30px;
  width: 100%;
  min-height: 30px;
  border-radius: 50%;
  background-color: #212534;
  animation:
    move-ball 3.0s infinite linear,
    jump-ball 3.0s infinite linear;
  animation-delay: 1.5s;
}

@keyframes load-current {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes move-current {
  from {
    width: 10%;
  }
  to {
    width: 100%;
  }
}

@keyframes move-ball {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 30px);
  }
}

@keyframes jump-ball {
  0% {
    top: 0;
    animation-timing-function: linear;
  }
  22% {
    top: calc(100% - 30px);
    animation-timing-function: ease-out;
  }
  39% {
    top: 65%;
    animation-timing-function: ease-in;
  }
  55% {
    top: calc(100% - 30px);
    animation-timing-function: ease-out;
  }
  67% {
    top: 80%;
    animation-timing-function: ease-in;
  }
  78% {
    top: calc(100% - 30px);
    animation-timing-function: ease-out;
  }
  89% {
    top: 85%;
    animation-timing-function: ease-in;
  }
  100% {
    top: calc(100% - 30px);
    animation-timing-function: ease-out;
  }
}