html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  background-color: #212534;
}

.section {
  padding: 50px 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 30px;
}

.progress {
  max-width: 1180px;
  width: 100%;
  height: 60px;
  margin: 0 0 50px;
  background-color: #fff;
  outline: 5px solid #2e9aff;
}

.progress__current {
  width: 90%;
  height: 100%;
  background: linear-gradient(to right, #9999ff 0%, #99ff99 100%);
  animation: load-stripe 3s 1 linear;
  animation-delay: 1.5s;
}

.bar {
  width: 10%;
  height: 60px;
  margin: 0 0 50px;
  background-color: #fff;
  outline: 5px solid #2e9aff;
  animation: move-stripe 3s infinite alternate ease-in-out paused;
}

.bar:hover {
  width: 100%;
  animation-play-state: running;
}

.box {
  position: relative;
  max-width: 500px;
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
  background-color: #ddd;
  outline: 5px solid #2e9aff;
}

.ball {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 30px;
  width: 100%;
  min-height: 30px;
  border-radius: 50%;
  background-color: #212534;
  animation:
    move-ball 3.0s infinite linear,
    jump-ball 3.0s infinite linear;
  animation-delay: 1.5s;
}

@keyframes load-stripe {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes move-stripe {
  from {
    width: 10%;
  }
  to {
    width: 100%;
  }
}

@keyframes move-ball {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 30px);
  }
}

@keyframes jump-ball {
  0% {
    top: 0;
    animation-timing-function: linear;
  }
  22% {
    top: calc(100% - 30px);
    animation-timing-function: ease-out;
  }
  39% {
    top: 65%;
    animation-timing-function: ease-in;
  }
  55% {
    top: calc(100% - 30px);
    animation-timing-function: ease-out;
  }
  67% {
    top: 80%;
    animation-timing-function: ease-in;
  }
  78% {
    top: calc(100% - 30px);
    animation-timing-function: ease-out;
  }
  89% {
    top: 85%;
    animation-timing-function: ease-in;
  }
  100% {
    top: calc(100% - 30px);
    animation-timing-function: ease-out;
  }
}